/* Mobile Firs */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('Images/pixel_bg.jpg');
    background-size: cover;
    background-position: 80% 100%; /* Horrizontal Vertical*/
    background-repeat: no-repeat;
}

.calculator-container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
    background-color: #ea4a44;
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
}

.calculator-container .rotom_face {
    width: 35%;
    height: auto;
    justify-self: center;
    align-items: center;
}

.calculator-container .input-box{
    margin: 0.2em;
    height: 2em;
    font-size: 1.25em;
    box-shadow: -2px -2px 2px #a45d5a;
}

.operations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.operations-grid button {
    background-color: #7fd3f9;
    border: 0;
    border-radius: 0.15em;
    margin: 0.2em;
    padding: 0.5em;
    box-shadow: 2px 2px 4px #7e2825; /* x y blur spread color*/
    font-size: 1.25em;
    font-weight: 400;
}

.operations-grid button:active {
    background-color: #5ba8cc;
}

.operations-grid .operation-btn, #equal-btn {
    background-color: #047ac8;
    color: white;
}

.operations-grid .operation-btn:active, #equal-btn:active {
    background-color: #045b96;
}

.operations-grid .num-btn {
    background-color: white;
}

.operations-grid .num-btn:active {
    background-color: rgb(212, 212, 212);
}


/* Larger Screens */
@media (min-width: 600px) {
    .calculator-container {
        width: 40em;
    }
}

@media (min-width: 1000px) {
    .operations-grid button:hover {
        background-color: #5ba8cc;
        cursor: pointer;
    }

    .operations-grid .operation-btn:hover, #equal-btn:hover {
        background-color: #045b96;
        cursor: pointer;
    }

    .operations-grid .num-btn:hover {
        background-color: rgb(212, 212, 212);
        cursor: pointer;
    }
}