

.calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

/* Input Box */
.input-box {
    grid-column: span 4; /* width 4 column */
    direction: rtl; /* Type from right */
    text-align: right; /* Text start fromo right*/
}

/* Operations Grid Container */
.operations-grid {
    display: contents; /* buttons follow parent grid */
}